#header
	- if in_dashboard
		#org_logo.col-md-4.hidden-sm.hidden-xs
			%a{:href => HEADER_LINK_1}
				= image_tag "/assets/#{CUSTOM_ASSET_PATH}org_logo-retina-red.png", :alt => 'org_logo'
		#department_title.col-md-4
			%a{:href => HEADER_LINK_2}
				= image_tag "/assets/#{CUSTOM_ASSET_PATH}department_name-retina-red.png",class: 'header_logo_2', :alt => "department_logo"
		#institution_logo.col-md-4.hidden-xs
			%a{:href => HEADER_LINK_3, :target => '_blank'}
				= image_tag "/assets/#{CUSTOM_ASSET_PATH}institution_logo_retina-red.png", :alt => 'institution_logo'
	- else
		#org_logo
			%a{href: HEADER_LINK_1}
				= image_tag 'uuhsc_logo_stacked-retina-color-trans.png', alt: 'org_logo'
		#sparc_request_header
			%a{href: HEADER_LINK_2}
				= image_tag 'SPARC Request Logo.jpg', alt: 'sparc_logo'
		#institution_logo
			%a{href: HEADER_LINK_3, target: '_blank'}
				= image_tag 'uofu_logo_retina-color-trans.png', alt: 'institution_logo'
